name: go-ci
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
  workflow_dispatch: {}
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix: { go: [ "1.22.x" ] }
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with: { go-version: ${{ matrix.go }}, check-latest: true }
      - name: Cache Go build
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ matrix.go }}-${{ hashFiles('**/go.sum') }}
          restore-keys: ${{ runner.os }}-go-${{ matrix.go }}-
      - run: go mod tidy
      - run: go vet ./...
      - run: go test ./... -v -coverprofile=coverage.out
      - uses: actions/upload-artifact@v4
        with: { name: coverage, path: coverage.out }
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with: { go-version: "1.22.x" }
      - uses: golangci/golangci-lint-action@v6
        with: { version: v1.60.2, args: --timeout=3m }
