name: Lint (golangci-lint)
on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]
permissions:
  contents: read
jobs:
  golangci:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22.x'
          cache: true
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.61.0
          args: --timeout 3m
